.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
 }

 /* html {
    position: relative;
    min-height: 100%;
} */
body {
    margin: 0 0 60px; /* altura do  footer */
}
